.header{
    padding: 30px;
}
.NavLink {
    display: inline-flex;
    padding: 30px;
    
    border-bottom: 2px solid transparent;
    font-size: 24px;
    margin-right: 15px;
    font-weight: bold;
    color: inherit;
    text-decoration: none;
    transition: all .3s;
    
}
.NavLink.active {
    border-bottom-color: #6a9bd8;
    color: #6a9bd8;
}

.NavLink:focus,
.NavLink:hover {
    color: #6a9bd8;
}